# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
out/
.next/

# Expo
.expo/
web-build/
.yarn/
ios/Pods/
android/.gradle

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Ignore VividWealth subdirectory as it's a separate repo
VividWealth/

# Python virtual environments
venv/
**/venv/
.env/
.venv/
__pycache__/
*.py[cod] 